
body{
	background-color: #eeeeee;
}
img{
	max-width: 100%;
}
iframe{
	margin: auto;
	display: block;
}
#iframeClass{
	display: block;
}
h4{
	font-size: 1rem;
}
main {
	display: block;
}
.h75{
	height: 75vh;
}
.footerbotton{
	position: sticky;
}
.thumb{
	max-width: 30%;
}